<template>
  <div class="channel-logs">
    <template v-if="channel">
      <h1>{{ network }} / {{ channel }}</h1>
      <channel-year v-for="([year, months], index) in Object.entries(dates)"
       :network="network" :channel="channel" :year="year" :months="months"
       :key="key(year)"
       :last="Object.keys(dates).length-1 == index"
       :open="Object.keys(dates).length-1 == index">
      </channel-year>
    </template>
  </div>
</template>

<script>
import ChannelYear from '../components/ChannelYear.vue';

export default {
  name: 'channel',
  props: ['networks'],
  components: {
    ChannelYear
  },

  data () {
    return {
      network: null,
      channel: null,
      dates: []
    }
  },

  watch: {
    'networks': 'setChannel',
    '$route': 'setChannel'
  },

  mounted () {
    this.setChannel();
  },

  methods: {
    key (id) {
      return `${this.network}-${this.channel}-${id}`;
    },

    async setChannel () {
      this.dates = [];
      this.channel = this.$route.params.id || null;
      this.network = this.$route.params.network || null;

      if (!this.network || !this.channel) {
        return;
      }

      this.dates = await this.$logReader.getChannel(this.network, this.channel);
    }
  }
};
</script>
