<template>
  <div>
    <template v-if="channel && chat">
      <h1>
        <router-link :to="{name: 'channel'}">
          {{ network }} / {{ channel }}
        </router-link> /
        {{ day.format('dddd, Do MMMM YYYY') }}
      </h1>
      <nav-links v-if="channel"
       :channel="channel" :next="chat.next" :prev="chat.prev"
      ></nav-links>

      <table class="chat-log">
        <tbody v-if="chat.items.length > 0">
          <chat-log v-for="(log, i) in chat.items" :key="i" :log="log"></chat-log>
        </tbody>
      </table>

      <nav-links v-if="channel"
       :channel="channel" :next="chat.next" :prev="chat.prev"
      ></nav-links>
    </template>
  </div>
</template>

<script>
import moment from 'moment';

import ChatLog from '../components/ChatLog.vue';
import NavLinks from '../components/NavLinks.vue';

export default {
  name: 'conversation',
  props: ['networks'],
  components: {
    ChatLog,
    NavLinks
  },

  watch: {
    '$route': 'fetchConversation',
    'channels': 'fetchConversation'
  },

  data () {
    return {
      network: null,
      channel: null,
      day: null,
      chat: null
    }
  },

  mounted () {
    this.fetchConversation();
  },

  methods: {
    async fetchConversation () {
      this.chat = null;
      this.channel = this.$route.params.id || null;
      this.network = this.$route.params.network || null;
      this.day = moment(this.$route.params.day, 'YYYYMMDD');

      if (!this.channel || !this.network) {
        return;
      }

      this.chat = await this.$logReader.getConversation(this.network, this.channel, this.day);
    }
  }
};
</script>
