// Basic reset
// ----------------------------------------------
html
  box-sizing border-box
  font-size 16px
  min-height 100%


*, *:before, *:after
  box-sizing inherit

body, h1, h2, h3, h4, h5, h6, p, ol, ul
  margin 0
  padding 0
  font-weight normal


ol, ul
  list-style none


img
  max-width 100%
  height auto


// Main style
// ----------------------------------------------
body
  background-color #fff
  color #222
  font-family "Liberation Sans",sans-serif

a
  color #06c
  text-decoration none

  &:hover, &:focus
    text-decoration underline


// Layout
// ----------------------------------------------
#app
  height 100vh
  display flex
  flex-direction column

#header
  height 3.5rem
  padding 0.5rem
  background #000
  color #fff

  a
    color #fff

    &:hover, &:focus
      text-decoration none

#main
  display flex
  flex-direction row
  height calc(100% - 3.5rem)

#nav
  flex 1
  max-width 240px
  height 100%
  overflow-y auto
  background #ccc
  padding 1rem 0.5rem

#view
  flex 3 0px
  height 100%
  overflow-y auto
  padding 1rem

.channel-list
  & > ul > li > ul
    margin 0 0 1rem 20px

  & > ul > li > span
  & > ul > li > ul a
    display flex
    align-items top
    margin-bottom 0.25rem

    span
      margin-right 6px

      svg
        width 16px
        height auto
        color #666

  a.router-link-active
    font-weight bold


.channel-logs
  h1
    margin-bottom 1rem

  .year-logs
    margin-bottom 1rem

    h2
      display flex
      color #000
      cursor pointer

  .month-logs
    h3
      display flex
      color #000
      cursor pointer

    ul
      margin-left 1.5rem
      margin-bottom 1rem


.chat-log
  border-collapse collapse

  tr:nth-child(odd)
    background-color #eee

  td
    padding 0.25rem 0.5rem
    vertical-align top

  td.time
    color #999

  td.nick
    text-align right

  td.msg
    white-space pre-wrap
    // word-break break-all
    width 100%

  .nick
    font-weight 600


.nav-links
  display flex
  justify-content space-between
  margin 2rem 0
