<template>
  <div id="app">
    <header id="header">
      <h1><router-link :to="{name: 'main'}">IRCLog</router-link></h1>
    </header>
    <div id="main">
      <channel-list id="nav" :networks="networks"></channel-list>
      <router-view id="view"
       :networks="networks">
      </router-view>
    </div>
  </div>
</template>

<script>
import ChannelList from './components/ChannelList.vue';

export default {
  name: 'main-app',
  components: {
    ChannelList
  },

  data () {
    return {
      networks: []
    }
  },

  async mounted () {
    this.networks = await this.$logReader.getNetworks();
  }
}
</script>
