<template>
  <div class="month-logs">
    <h3 @click="isOpen = !isOpen">
      <component :is="isOpen ? 'menu-down' : 'menu-right'"></component>
      {{ date().format('MMMM') }}
    </h3>
    <ul :hidden="!isOpen">
      <li v-for="day in days">
        <router-link :to="{name: 'conversation', params: {id: channel, day: day.format('YYYYMMDD')}}">
          {{ day.format('dddd, Do MMMM YYYY') }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import moment from 'moment';

import MenuDown from 'vue-material-design-icons/MenuDown.vue';
import MenuRight from 'vue-material-design-icons/MenuRight.vue';

export default {
  name: 'channel-month',
  props: ['channel', 'year', 'month', 'days', 'open'],
  components: {
    MenuDown,
    MenuRight
  },

  data () {
    return {
      isOpen: this.open
    }
  },

  methods: {
    date () {
      let d = moment().year(this.year).month(this.month - 1);
      return d;
    }
  }
};
</script>
