<template>
  <div class="channel-list">
    <h2>Channels</h2>
    <ul>
      <li v-for="network in networks" :key="network.key">
        <span><wan-icon></wan-icon> {{ network.name }}</span>
        <ul>
          <li v-for="channel in network.channels" :key="channel.key">
            <router-link
             :to="{name: 'channel', params: {network: network.name, id: channel.name}}">
              <component :is="channel.type == 'channel' ? 'forum-icon' : 'account-icon'"></component>
              {{ channel.name }}
            </router-link>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
import AccountIcon from 'vue-material-design-icons/Account.vue';
import ForumIcon from 'vue-material-design-icons/Forum.vue';
import WanIcon from 'vue-material-design-icons/Wan.vue';

export default {
  name: 'channel-list',
  props: ['networks'],
  components: {
    AccountIcon,
    ForumIcon,
    WanIcon
  }
};
</script>
