<template>
  <div class="year-logs">
    <h2 @click="isOpen=!isOpen">
      <component :is="isOpen ? 'menu-down' : 'menu-right'"></component>
      {{ year }}
    </h2>
    <channel-month v-for="([month, days], index) in Object.entries(months)"
     :channel="channel" :year="year" :month="month" :days="days"
     :key="key(month)"
     :open="last && Object.keys(months).length - 1 == index"
     :hidden="!isOpen">
   </channel-month>
  </div>
</template>

<script>
import MenuDown from 'vue-material-design-icons/MenuDown.vue';
import MenuRight from 'vue-material-design-icons/MenuRight.vue';

import ChannelMonth from './ChannelMonth.vue';

export default {
  name: 'channel-year',
  props: ['network', 'channel', 'year', 'months', 'open', 'last'],
  components: {
    ChannelMonth,
    MenuDown,
    MenuRight
  },

  data () {
    return {
      isOpen: this.open
    }
  },

  methods: {
    key (id) {
      return `${this.network}-${this.channel}-${this.year}-${id}`;
    }
  }
};
</script>
