<template>
  <div class="nav-links" v-if="prev || next">
    <div>
      <router-link v-if="prev"
       :to="{name: 'conversation', params:{id: channel, day: prev.format('YYYYMMDD')}}">
       <strong>previous</strong> - {{ prev.format('dddd, Do MMMM YYYY') }}
      </router-link>
    </div>
    <div>
      <router-link v-if="next"
       :to="{name: 'conversation', params:{id: channel, day: next.format('YYYYMMDD')}}">
       {{ next.format('dddd, Do MMMM YYYY') }} - <strong>next</strong>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'navlinks',
  props: ['channel', 'next', 'prev']
};
</script>
